@import './_theme.scss';
// @import "~material-components-web/material-components-web";
@import '@material/react-button/index.scss';
@import '@material/react-drawer/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-top-app-bar/index.scss';
@import '@material/react-material-icon/index.scss';
@import '@material/react-card/index.scss';
@import '@material/react-typography/index.scss';
@import '@material/react-text-field/index.scss';
@import '@material/react-fab/index.scss';

@import '~draft-js/dist/Draft.css';

body {
  background-color: $mdc-theme-background;
  margin: 0px;
}

.drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;

  // .channel-title-container {
  //   margin-top: 1rem;
  //   display: flex;
  //   justify-content: space-evenly;
  //   align-items: flex-end;
  // }
  .channel-container-text {
    margin-left: 2rem;
  }
  .add-channel_fab {
    position: absolute;
    left: 11rem;
    bottom: 2rem;
    z-index: 1;
  }
}

.drawer-app-content {
  flex: auto;
  overflow: auto;
}

// .drawer {
//   top: 0;
//   position: absolute;
// }

.welcome-card {
  margin: 7%;
  padding: 5%;
  padding-top: 0;
  text-align: center;

  // main {
  //   margin-left: 5%;
  //   margin-right: 5%;
  // }

  .username-field {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.chat-app {
  display: flex;
  flex-flow: column nowrap;
}

div.DraftEditor-root {
  background-color: #fffef7;
  // width: 100%;
  display: block;
  // margin: auto;
  box-shadow: 0px 0px 6px 1px $mdc-theme-secondary;
  // height:300px;
  // padding: 20px;
  // font-size: 18px;

  // overflow-y: scroll;
  font-family: $mdc-typography-font-family;
}